<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.4.4" targetFramework="net481" />
  <package id="jQuery.Validation" version="1.20.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="8.0.0" targetFramework="net481" />
</packages>